.navbar {
  background-color: black;
  justify-content: center;
  font-size: 36px;
}

h1 {
  color: white;
}

.hero.is-danger {
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 3rem 1.5rem;
  /* margin-right: 25rem;
  margin-left: 25rem; */
  background-image: url(../images/second-page-img.jpg);
  background-size:cover;
}